@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

.quantity-submitter {
  .quantity-label {
    float: left;
    padding: 6px 5px;
  }

  .submit-button {
    float: left;
    margin: 2px 10px;
  }

  .quantity-spinner {
    float: left;
  }
}