.topmenu {
	box-sizing: border-box;
	padding: 5px;
	font-size: .8em;

	p.fashioncraftStandardInstructions {
	    line-height: 12px;
	    font-weight: normal !important;
	    margin: 5px 0px 0px 0px;
	    padding-top: 2px;
	    border-top: 1px dotted #fff;
	    font-size: 12.8px;
	}
}