.product-holder {
	background-image: url('images/grid-pattern.png');
    border: 1px solid #ccc;
    position: relative;
    margin-left: 10px;
    border-radius: 6px;
    height: 100%;
    min-height: 500px;
}