.number-spinner {
  display: table;

  input {
    width: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;

    i {
      position: absolute;
      top: 0;
      left: 4px;
    }

    .btn {
      display: block;
      float: none;
      width: 100%;
      max-width: 100%;
      padding: 8px;
      margin-left: -1px;
      position: relative;
      border-radius: 0;
    }

    .btn:first-child {
      border-top-right-radius: 4px;
    }

    .btn:last-child {
      margin-top: -2px;
      border-bottom-right-radius: 4px;
    }
  }
}