.graphic-pane {
	.panel-title {
		font-size: 12px;

		a {
			cursor: pointer;
			display: block;
			padding: 10px 15px;
		}
	}

	.panel-heading {
		padding: 0;

		a {
			padding-left: 25px;
		}

		a[aria-selected=true] {
			background: url(./images/arrow-down.png) no-repeat left 10px top 11px;
		}

		a[aria-selected=false] {
			background: url(./images/arrow-right.png) no-repeat left 10px top 11px;
		}
	}

	.panel-group {
		.panel-body {
			max-height: 200px;
			overflow-y: scroll;
		}
	}

	ol {
		list-style-type: none !important;
	    margin: 0;
	    padding: 0;

	    li {
			height: 78px;
			width: 78px;
			margin-left: 2px;
			margin-right: 2px;
			float: left;

			.design-thumbnail {
				width: 70px;
				height: 70px;
			}

			.selected {
				border-color: #f00;
			}
	    }
	}
}
